* {
font-variant-ligatures: none;
}

html,
body,
.button,
select,
.addRowUp button,
input[type="text"],
textarea {
  font-family: 'Helvetica Neue', sans-serif !important;
  letter-spacing: 1.6px !important;
  font-weight: 300;
  font-size: 14px !important;
  color: #333;
}

input[type="text"],
textarea {
  letter-spacing: 1px !important;
  outline: none !important;
}

span textarea {
  line-height: 1.35;
  padding: 0 !important;
  height: 35px;
  resize: none;
  padding-top: 8px !important;
}

label span {
  margin-top: -3.5px;
}

body {
  background: rgb(247,247,247);
}

button:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.container__edit {
  right: 0;
  padding-bottom: 87.5px;
  position: absolute;
  width: 100%;
  overflow-x: hidden;
}

.container__page {
  background: white;
  box-shadow: 0px 0px 50px 0px #d8d8d8;
  /* has to be automated to it extends on form fill */
  /* height: 150vh; */
  /* height: 1200px; */
  min-height: 85vh;
  /* (100-35)/2 */
  /* 21/29.7 */
  /* width: 106.0606060606vh; */
  /* width: 848.4848484848px; */
  width: 745px;
  padding: 25px;
  position: relative;
  margin: 75px auto;
}

.container__button {
  bottom: 17.5px;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.button {
  background: black;
  border: none;
  color: white;
  display: block;

  /* font-weight: 400; */

  height: 60px;
  letter-spacing: 1.2px !important;
  margin: 0 auto !important;
  position: relative;
  /* text-transform: uppercase; */
  width: 792.5px;
  z-index: 10;
}

.button:hover {
  background: rgb(75,75,75);
}

.button:focus {
  outline-color: rgb(175,175,175);
}

.button-block {
  background: white;
  border: none;
  color: black !important;
  cursor: pointer;
  display: block;
  /* font-size: 15px; */
  height: 45px;
  margin: 0 auto !important;
  position: relative;
  text-align: center !important;
  /* text-transform: uppercase; */
  width: 100%;
  -webkit-margin-after: 0.5em;
}

.button-block:hover {
  background: rgb(225,225,225);
}

.button-block:focus {
  outline-color: rgb(235,235,235);
}

/* PDF styling */
label {
  font-family: "Helvetica Neue", sans-serif !important;
}

label span {
  width: 220%;
}

label.dropdown {
  box-sizing: border-box;
  display: inline-block;
  padding-top: 15px;
  position: relative;
}

label.dropdown > span {
  box-sizing: border-box;
  font-size: 0.625rem !important;
  letter-spacing: 1.2px !important;
  left: 0px;
  padding: 0px;
  pointer-events: none;
  position: absolute;
  top: 0px;
  transition: font-size 200ms, padding 200ms;
  z-index: 1;
}

select {
  background: #f7f7f7;
  border: none;
  border-bottom: none;
  border-radius: 0px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-border-radius: 0px;
  background-image: url("https://i.imgur.com/8AhrzuI.png");
  background-position: 97% 50%;
  background-repeat: no-repeat;
  background-size: 9px;
  margin-top: -12px;
  padding: 9px 0 11px 0;
  width: 102.5%;
  width: 237px;
}

input[type="text"] :focus,
input[type="text"] :active,
input[type="text"] :hover,
textarea:focus,
textarea:active,
textarea:hover,
textarea  {
  border: none !important;
  border-bottom-color: rgba(0,0,0,0) !important;
}

.table tr td:last-child input[type="text"],
.table tr td:last-child textarea {
  width: 173%;
  width: 237.4866666667px;
}

.table tr td.hspan3:last-child input[type="text"],
.table tr td.hspan3:last-child textarea {
  /* width: 512.5%; */
}

.table tr td.hspan3:last-child input[type="text"],
.table tr td.hspan3:last-child textarea {
  width: 510%;
  width: 745px;
}

.table tr td.hspanX input[type="text"],
.table tr td.hspanX textarea {
  width: 491px !important;
}

.table tr td.hspanX {
  width: 508px;
}

.table tr td.hspan2 input[type="text"],
.table tr td.hspan2 textarea {
  width: 245%;
  /* width: 357.69px; */
  width: 364.995px;
}

.table tr td.hspan2-right input[type="text"],
.table tr td.hspan2-right textarea {
  width: 255%;
  /* width: 372.3px; */
  width: 364.995px;
}

.table tr td.form--title {
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.75px;
  -webkit-margin-after: 25px;
  -webkit-margin-before: 25px;
  width: 60%;
}

.table td.border {
  color: rgb(218, 218, 218);
  font-weight: 100;
  letter-spacing: -0.22px;
}

td.border {
  width: 100% !important;
  width: 798px !important;
  overflow: hidden;
}

td.border--3 {
  width: 745px !important;
}

.divider {
  margin-left: -26px;
}

.form--title:first-child {
  -webkit-margin-before: 0;
}

.form--label {
  color: #787878;
  font-size: 6px;
  font-weight: 100;
  /* text-transform: uppercase; */
   -webkit-margin-before: 0;
   -webkit-margin-after: 10px;
   vertical-align: 1.5px;
}

th.form--label {
  padding-bottom: 5px;
}

/* temp */
.react-grid-item,
.editable {
  background: #F8F8F8;
  padding: 2.5px;
  font-weight: 400;
  /* -webkit-margin-after: 1em; */
}

.mid {
  font-weight: 400;
  -webkit-margin-after: 1em;
}

/* table styling */
.table {
  width: 745px;
}

.table tr:first-child {
  margin-top: 0px;
  display: block;
}

.table th,
.table tr td {
  vertical-align: top;
  text-align: left;
}

input[type="text"],
textarea {
  background: #F7F7F7;
  border-bottom-color: rgba(0,0,0,0) !important;
  /* color: #545454; */
  width: 157.5%;
  /* width: 229.94px; */
  width: 237.4866666667px;
  padding: 8px 0px 8px !important;
}

.table tr td {
  display: inline-block;
  /* margin-right: 15px; */
  width: 33%;
  width: 254px;
}

.table tr td:last-child {
  width: 237px;
}

.hspan3 {
  width: 100% !important;
  width: 745px !important;
}

.hspan2 {
  width: 50% !important;
  width: 380.5px !important;
}

.h1span1 {
  width: 27.2% !important;
  width: 245.84px !important;
}

.hspan0 {
  width: 0px !important
}

.vspace {
  display: inline-block;
  height: 12.5px;
  width: 100%;
}

/* .hspan2-right {
  margin-right: 0 !important;
  width: 61.8% !important;
} */

.addRow {
  font-size: 10px;
  padding-top: 5px;
  letter-spacing: 0.9px;
  color: #333;
}

.addRowUp button {
  background-color: white;
  border: 0.5px solid #c5c5c5 !important;
  border: none;
  width: 100%;
  width: 745px;
  text-align: center;
  padding: 10px 15px !important;
}

.addRowUp button:hover {
  opacity: 0.5;
}

.addRowUpButton {
  float: right;
}

.hidden {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.hiddenTemp {
  display: none;
}
